# Accessing Data within Pandas - Lab

## Introduction

In this lab, we'll look at a dataset which contains information on World Cup matches. Let's use the Pandas commands learned in the previous lesson to learn more about our data!

## Objectives
You will be able to: 
- Use pandas methods and attributes to access information about a dataset 
- Index pandas dataframes with .loc, .iloc, and column names 
- Use a boolean mask to index pandas series and dataframes

## Load the data

Load the file `'WorldCupMatches.csv'` as a DataFrame in Pandas.

In [2]:
# Import pandas using the standard alias
import pandas as pd

# Import 'WorldCupMatches.csv' as a DataFrame
df = pd.read_csv('WorldCupMatches.csv')

## Common methods and attributes

Use the correct method to look at the first 7 rows of the dataset.

In [3]:
# Print the first 7 rows of df
print(df.head(7))

   Year              Datetime    Stage         Stadium         City  \
0  1930  13 Jul 1930 - 15:00   Group 1         Pocitos  Montevideo
1  1930  13 Jul 1930 - 15:00   Group 4  Parque Central  Montevideo
2  1930  14 Jul 1930 - 12:45   Group 2  Parque Central  Montevideo
3  1930  14 Jul 1930 - 14:50   Group 3         Pocitos  Montevideo
4  1930  15 Jul 1930 - 16:00   Group 1  Parque Central  Montevideo
5  1930  16 Jul 1930 - 14:45   Group 1  Parque Central  Montevideo
6  1930  17 Jul 1930 - 12:45   Group 2  Parque Central  Montevideo

  Home Team Name  Home Team Goals  Away Team Goals Away Team Name  \
0         France                4                1         Mexico
1            USA                3                0        Belgium
2     Yugoslavia                2                1         Brazil
3        Romania                3                1           Peru
4      Argentina                1                0         France
5          Chile                3                0         Mexico
6     Yugoslavia                4                0        Bolivia

  Win conditions  Attendance  Half-time Home Goals  Half-time Away Goals  \
0                     4444.0                     3                     0
1                    18346.0                     2                     0
2                    24059.0                     2                     0
3                     2549.0                     1                     0
4                    23409.0                     0                     0
5                     9249.0                     1                     0
6                    18306.0                     0                     0

                    Referee               Assistant 1  \
0    LOMBARDI Domingo (URU)     CRISTOPHE Henry (BEL)
1         MACIAS Jose (ARG)  MATEUCCI Francisco (URU)
2       TEJADA Anibal (URU)   VALLARINO Ricardo (URU)
3     WARNKEN Alberto (CHI)       LANGENUS Jean (BEL)
4       REGO Gilberto (BRA)      SAUCEDO Ulises (BOL)
5     CRISTOPHE Henry (BEL)   APHESTEGUY Martin (URU)
6  MATEUCCI Francisco (URU)    LOMBARDI Domingo (URU)

                  Assistant 2  RoundID  MatchID Home Team Initials  \
0         REGO Gilberto (BRA)      201     1096                FRA
1       WARNKEN Alberto (CHI)      201     1090                USA
2         BALWAY Thomas (FRA)      201     1093                YUG
3    MATEUCCI Francisco (URU)      201     1098                ROU
4  RADULESCU Constantin (ROU)      201     1085                ARG
5         LANGENUS Jean (BEL)      201     1095                CHI
6       WARNKEN Alberto (CHI)      201     1092                YUG

  Away Team Initials
0                MEX
1                BEL
2                BRA
3                PER
4                FRA
5                MEX
6                BOL

Look at the last 3 rows of the data set.

In [4]:
# Print the last 3 rows of df
print(df.tail(3))

     Year              Datetime                     Stage  \
849  2014  09 Jul 2014 - 17:00                Semi-finals
850  2014  12 Jul 2014 - 17:00   Play-off for third place
851  2014  13 Jul 2014 - 16:00                      Final

                 Stadium             City Home Team Name  Home Team Goals  \
849   Arena de Sao Paulo       Sao Paulo     Netherlands                0
850     Estadio Nacional        Brasilia          Brazil                0
851  Estadio do Maracana  Rio De Janeiro         Germany                1

     Away Team Goals Away Team Name                       Win conditions  \
849                0      Argentina  Argentina win on penalties (2 - 4)
850                3    Netherlands
851                0      Argentina        Germany win after extra time

     Attendance  Half-time Home Goals  Half-time Away Goals  \
849     63267.0                     0                     0
850     68034.0                     0                     2
851     74738.0                     0                     0

                   Referee            Assistant 1              Assistant 2  \
849     C�neyt �AKIR (TUR)   DURAN Bahattin (TUR)        ONGUN Tarik (TUR)
850  HAIMOUDI Djamel (ALG)   ACHIK Redouane (MAR)  ETCHIALI Abdelhak (ALG)
851   Nicola RIZZOLI (ITA)  Renato FAVERANI (ITA)     Andrea STEFANI (ITA)

     RoundID    MatchID Home Team Initials Away Team Initials
849   255955  300186490                NED                ARG
850   255957  300186502                BRA                NED
851   255959  300186501                GER                ARG

Get a concise summary of the data using `.info()`.

In [6]:
# Print a concise summary of df
print(df.info(verbose = False))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Columns: 20 entries, Year to Away Team Initials
dtypes: float64(1), int64(7), object(12)
memory usage: 133.2+ KB
None

Obtain a tuple representing the number of rows and number of columns

In [7]:
# Print the number of rows and columns in df
print(df.shape)

(852, 20)

Use the appropriate attribute to get the column names

In [9]:
# Print the column names of df
print(df.columns)

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

## Selecting DataFrame information

When looking at the DataFrame's `.head()`, you might have noticed that the games are structured chronologically in the DataFrame.

Use the right selection method to print all the information from the 3rd to the 5th game.

In [11]:
# Print rows 3 through 5
print(df.iloc[3:6])

   Year              Datetime    Stage         Stadium         City  \
3  1930  14 Jul 1930 - 14:50   Group 3         Pocitos  Montevideo
4  1930  15 Jul 1930 - 16:00   Group 1  Parque Central  Montevideo
5  1930  16 Jul 1930 - 14:45   Group 1  Parque Central  Montevideo

  Home Team Name  Home Team Goals  Away Team Goals Away Team Name  \
3        Romania                3                1           Peru
4      Argentina                1                0         France
5          Chile                3                0         Mexico

  Win conditions  Attendance  Half-time Home Goals  Half-time Away Goals  \
3                     2549.0                     1                     0
4                    23409.0                     0                     0
5                     9249.0                     1                     0

                 Referee              Assistant 1                 Assistant 2  \
3  WARNKEN Alberto (CHI)      LANGENUS Jean (BEL)    MATEUCCI Francisco (URU)
4    REGO Gilberto (BRA)     SAUCEDO Ulises (BOL)  RADULESCU Constantin (ROU)
5  CRISTOPHE Henry (BEL)  APHESTEGUY Martin (URU)         LANGENUS Jean (BEL)

   RoundID  MatchID Home Team Initials Away Team Initials
3      201     1098                ROU                PER
4      201     1085                ARG                FRA
5      201     1095                CHI                MEX

Now, print all the info from game 5-9, but we're only interested in printing out the, "Home Team Name" and the, "Away Team Name."

In [19]:
# Print rows 5 through 9 and columns 'Home Team Name' and 'Away Team Name'
print(df.loc[5:10,['Home Team Name', 'Away Team Name']])

   Home Team Name Away Team Name
5           Chile         Mexico
6      Yugoslavia        Bolivia
7             USA       Paraguay
8         Uruguay           Peru
9           Chile         France
10      Argentina         Mexico

Next, we'd like the information on all the games played in Group 3 for the 1950 World Cup.

In [41]:
# Print all info for games played in 1950 for Group 3
print(df[(df['Stage'] == 'Group 3') & (df['Year'] == 1950)])

    Year              Datetime    Stage           Stadium        City  \
56  1950  25 Jun 1950 - 15:00   Group 3          Pacaembu  Sao Paulo
61  1950  29 Jun 1950 - 15:30   Group 3  Durival de Brito   Curitiba
65  1950  02 Jul 1950 - 15:00   Group 3          Pacaembu  Sao Paulo

   Home Team Name  Home Team Goals  Away Team Goals Away Team Name  \
56         Sweden                3                2          Italy
61         Sweden                2                2       Paraguay
65          Italy                2                0       Paraguay

   Win conditions  Attendance  Half-time Home Goals  Half-time Away Goals  \
56                    36502.0                     2                     1
61                     7903.0                     2                     1
65                    25811.0                     1                     0

                  Referee             Assistant 1                Assistant 2  \
56        LUTZ Jean (SUI)     BERANEK Alois (AUT)        TEJADA Carlos (MEX)
61  MITCHELL Robert (SCO)       LEMESIC Leo (YUG)     GARCIA Prudencio (USA)
65     ELLIS Arthur (ENG)  GARCIA Prudencio (USA)  DE LA SALLE Charles (FRA)

    RoundID  MatchID Home Team Initials Away Team Initials
56      208     1219                SWE                ITA
61      208     1228                SWE                PAR
65      208     1218                ITA                PAR

Let's repeat the command above, but now we only want to print out the attendance column for the Group 3 games.

You can combine conditions like this:

`df[(condition1) | (condition2)]`  -> Returns rows where either condition is true

`df[(condition1) & (condition2)]`  -> Returns rows where both conditions are true

In [33]:
# Print the 'Attendance' column for games played in 1950 for Group 
print(df.loc[(df['Stage'] == 'Group 3') & (df['Year'] == 1950), 'Attendance'])

56    36502.0
61     7903.0
65    25811.0
Name: Attendance, dtype: float64

Throughout the entire history of the World Cup, how many home games were played by the Netherlands?

In [37]:
# Number of home games played by the Netherlands
total_num = df.loc[(df['Home Team Name'] == 'Netherlands')]
print(total_num.shape)

(32, 20)

How many games were played by the Netherlands in total?

In [38]:
# Number of games played by the Netherlands in total
nether_games = df.loc[(df['Home Team Name'] == 'Netherlands') | (df['Away Team Name'] == 'Netherlands')]
print(nether_games.shape)

(54, 20)

Next, let's try and figure out how many games the USA played in the 2014 World Cup.

In [39]:
# Number of games the USA played in the 2014 world cup
usa_games_2014 = df.loc[((df['Home Team Name'] == 'USA') | (df['Away Team Name'] == 'USA')) & (df['Year'] == 2014)]
print(usa_games_2014.shape)

(5, 20)

Now, let's try to find out how many countries participated in the 1986 World Cup.

Hint 1: as a first step, create a new dataset that only contains games in that year.

Hint 2: You can use `.unique()` to make sure you don't end up with duplicate country names.

In [52]:
# Number of countries participated in the 1986 world cup

HT = df.loc[(df['Year'] == 1986), 'Home Team Name']
AT = df.loc[(df['Year'] == 1986), 'Away Team Name']
all_teams = list(HT) + list(AT)
print(len(all_teams))
uteams = set(all_teams)
print('Making it into a list, its ', len(uteams))

BT = pd.concat([HT, AT])
UT = BT.unique()
print('Using pandas concat, its ', len(UT))

104
Making it into a list, its  24
Using pandas concat, its  24

In World Cup history, how matches had more than 5 goals in total?

In [63]:
# Number of matches that had more than 5 goals in total
total_goals = df.loc[:,'Away Team Goals'] + df.loc[:,'Home Team Goals']
print(type(total_goals))

totalexceeding5 = df[total_goals > 5]
print(len(totalexceeding5))

<class 'pandas.core.series.Series'>
74

## Changing values and creating new columns

With the information you currently have in your `df`, create a new column, "Half-time Goals."

In [80]:
# Create a new column 'Half-time Goals' in df


df['Half-time Goals'] = df.loc[:,'Half-time Home Goals'] + df.loc[:,'Half-time Away Goals']

df.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Half-time Goals
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,...,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX,3
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,...,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL,2
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,...,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA,2
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,...,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER,1
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,...,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA,0

Run the code below. You'll notice that for Korea, there are records for both North-Korea (Korea DPR) and South-Korea (Korea Republic).

In [81]:
# Print all records containing the string 'Korea'
df.loc[df['Home Team Name'].str.contains('Korea'), 'Home Team Name']

179         Korea DPR
187         Korea DPR
374    Korea Republic
386    Korea Republic
434    Korea Republic
444    Korea Republic
480    Korea Republic
524    Korea Republic
593    Korea Republic
609    Korea Republic
635    Korea Republic
642    Korea Republic
655    Korea Republic
710    Korea Republic
753         Korea DPR
802    Korea Republic
818    Korea Republic
Name: Home Team Name, dtype: object

Imagine that, for some reason, we simply want Korea listed as one entry, so we want to replace every "Home Team Name" and "Away Team Name" entry that contains "Korea" to simply "Korea". In the same way, we want to change the columns "Home Team Initials" and "Away Team Initials" to NSK (North & South Korea) instead of "KOR" and "PRK".

In [82]:
# Update the 'Home Team Name' and 'Home Team Initials' columns 
df.loc[(df['Home Team Name'] == 'Korea DPR') | (df['Home Team Name'] == 'Korea Republic'), 'Home Team Name'] = 'Korea'
df.loc[(df['Away Team Name'] == 'Korea DPR') | (df['Away Team Name'] == 'Korea Republic'), 'Away Team Name'] = 'Korea'
df.loc[(df['Home Team Initials'] == 'KOR') | (df['Home Team Initials'] == 'PRK'), 'Home Team Initials'] = 'NSK'
df.loc[(df['Away Team Initials'] == 'KOR') | (df['Away Team Initials'] == 'PRK'), 'Away Team Initials'] = 'NSK'

Make sure to verify your answer!

In [85]:
# Check the updated columns
df.loc[df['Home Team Name'].str.contains('Korea'), ['Home Team Name', 'Home Team Initials']]

    Home Team Name Home Team Initials
179          Korea                NSK
187          Korea                NSK
374          Korea                NSK
386          Korea                NSK
434          Korea                NSK
444          Korea                NSK
480          Korea                NSK
524          Korea                NSK
593          Korea                NSK
609          Korea                NSK
635          Korea                NSK
642          Korea                NSK
655          Korea                NSK
710          Korea                NSK
753          Korea                NSK
802          Korea                NSK
818          Korea                NSK

## Summary

In this lab, you learned how to access data within Pandas!